/* TO DO:
1. Learn how to custom style readio buttons and checkboxes.
2. Learn how to style dropdwon arrow and change placeholder text color.
3. Learn how to style text boxes.
4. Learn how to style number boxes and their arrows.
5. Add classes so not to style elements directly. 
*/

/* Inserting background2.jpg as background image & setting font styles */
body{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}
/* Styling heading */
h1{
    text-align: center;
    font-size: 6em;
    color: darkslateblue;
    margin: 1em 1em 0em 1em;
}
/* Styling subheading */
.sub{
    text-align: center;
    font-size: 4em;
    color: darkslateblue;
    margin: 0em 1em 1em 1em;
    font-weight: bold;
}
/* Styling form */
form{
    display: flex;
    flex-flow: column;
    font-size: 2em;
    color: white;
    margin: 0em 7em 1em 7em;
    background-color: cornflowerblue;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 5%;
}
/* Styling dropdown option */
select{
    background-color: white;
    margin: 0em 1em 0em 1em;
}
/* Making dropdown placeholder text gray */
.placeholder{
    color: gray;
}
/* Styling button */
button{
    background-color: darkslateblue;
    color: white;
    margin: 1em;
    cursor: pointer;
    height: 2em;
    font-size: larger;
    font-weight: bold;
}
