/* Inserting background.jpg as background image */
body{
    background-image: url("../images/background.jpg");
}
/* Styling heading */
.heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2em;
    background-color: beige;
    margin: 1em 8em 0em 8em;
    padding: .2em 0em .4em 0em;
    border-radius: 25%;
}
/* Styling form */
form{
    display: flex;
    flex-flow: column;
    background-color: beige;
    margin: 2em 32em 2em 32em;
    padding: 3em;
    border-radius: 5%;
}