/* Inserting background2.jpg as background image & setting font styles */
.consoles-background{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}
/* Use this for headings */
.heading{
    text-align: center;
    font-size: 6em;
    color: darkslateblue;
    margin: 1em 1em 0em 1em;
}
/* Use this for subheadings */
.sub{
    text-align: center;
    font-size: 4em;
    color: darkslateblue;
    margin: 0em 1em 1em 1em;
    font-weight: bold;
}
/* Styling form */
.form-style{
    display: flex;
    flex-flow: column;
    font-size: 2em;
    color: white;
    margin: 0em 7em 1em 7em;
    background-color: cornflowerblue;
    padding: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 5%;
}
/* Customizing radio label */ 
.radio{
    display: flex;
    position: relative;
    cursor: pointer;
    padding: .1em;
} 

/* Hiding radio button */
.radio input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}
/* Custom radio button */
.radio-style{
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: white;
    border-radius: 50%;
}
/* On mouse over add gray background radio button */
.radio:hover input ~ .radio-style{
    background-color: lightgrey;
}
/* Radio button checked return to white background */
.radio input:checked ~ .radio-style{
    background-color: white;
}
/* Radio indicator hidden (unchecked) */
.radio-style::after{
    content: "";
    position: absolute;
    display: none;
}
/* Radio indicator shown (checked) */
.radio input:checked ~ .radio-style::after{
    display: block;
}
/* Radio indicator style */
.radio .radio-style::after{
    width: .5em;
    height: .5em;
    background: darkslateblue;
    border-radius: 50%;
    right: .25em;
    top: .25em;
}
/* Customizing radio choices */
.radio-choice{
    margin-left: 1.5em;    
}
/* Customizing checkbox label */
.checkbox{
    display: flex;
    position: relative;
    cursor: pointer;
    padding: .1em;
}
/* Hiding checkbox button */
.checkbox input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}
/* Custom checkbox button */
.checkbox-style{
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: white;
}
/* On mouse over add gray background to checkbox button */
.checkbox:hover input ~ .checkbox-style{
    background-color: lightgrey;
}
/* Checkbox button checked return to white background */
.checkbox input:checked ~ .checkbox-style{
    background-color: white;
}
/* Checkbox indicator hidden (unchecked) */
.checkbox-style::after{
    content: "";
    position: absolute;
    display: none;
}
/* Checkbox indicator shown (checked) */
.checkbox input:checked ~ .checkbox-style::after{
    display: block;
}
/* Checkbox indicator style */
.checkbox .checkbox-style::after{      
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid darkslateblue;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg); 
}
/* Customizing checkbox choices */
.checkbox-choice{
    margin-left: 1.5em;    
}
/* Styling button */
.button-style{
    background-color: darkslateblue;
    color: white;
    margin: 1em;
    cursor: pointer;
    height: 2em;
    font-size: larger;
    font-weight: bold;
}
/* Styling dropdown */
.styled-select{
    width: 500px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background: url("../images/dropdown-arrow-up.png") no-repeat right white;
    background-size: 25px;   
}
/* Hiding dropdown and aligning text */
.styled-select select{
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 500px;
    height: 35px;
    left: 0;
    top: 0;
    text-align: center;
    text-align-last: center;
    font-size: 20px;
}
/* Changing cursor to pointer on hover, dropdown arrow pointing up and adding border */
.styled-select select:hover{
    cursor: pointer;
    background: url("../images/dropdown-arrow.png") no-repeat right white;
    background-size: 25px;
    border: solid 3px darkslateblue;   
}
/* Changing select placeholder text color and making it italic */
select:required:invalid{
    color: darkgrey;
    font-style: italic;
}
/* Chaning placeholder text color and making it italic */
::placeholder{
    color: darkgrey;
    opacity: 1;
    font-style: italic;
}
/* Styling name input box */
#name{
    margin: .25em 1em .25em 0em;
    height: 2em;
    width: 40%;
    font-size: 20px;
    padding-left: .5em;
}
/* Adding border on name input box when selected */
#name:focus{
    border: solid 3px darkslateblue;
}
/* Styling email input box */
#email{
    margin: .25em 1em .25em 0em;
    height: 2em;
    width: 40%;
    font-size: 20px;
    padding-left: .5em;
}
/* Adding border on email input box when selected */
#email:focus{
    border: solid 3px darkslateblue;
}
/* Styling age input box */
#number{
    margin: .25em 1em .25em 0em;
    height: 2em;
    width: 5%;
    text-align: center;
    font-size: 20px;
}
/* Adding border on age input box when selected */
#number:focus{
    border: solid 3px darkslateblue;
}
/* Removing age input box arrows/spinners Firefox */
input[type=number]{
    -moz-appearance: textfield;
}
/* Removing age input box arrows/spinners Chrome, Safari, Edge and Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* Styling textarea box and making it not resizable */
#explanation{
    height: 10em;
    font-size: 20px;
    resize: none;
    padding: .5em;
}
/* Adding border on textarea box */
#explanation:focus{
    border: solid 3px darkslateblue;
}
/* Removing Chrome outline */
input:focus, textarea:focus, select:focus{
    outline: none;
}